@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Schoolbell&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffa500;
  --foreground: #cfbda9;
  --accent: white;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Schoolbell", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: var(--background);
  color: var(--accent);
  padding: 1rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav div {
  display: flex;
  gap: 20px;
}

header nav img {
  height: 50px;
}

.pizza-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.pizza-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 300px;
  height: 415px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.pizza-item img {
  max-width: 100%;
  border-radius: 8px;
}

.pizza-item h2 {
  font-size: 22px;
  margin: 10px 0 0 0;
}

.pizza-item p {
  font-size: 16px;
  margin: 2px 0;
}

footer {
  background-color: var(--background);
  color: var(--accent);
  padding: 1rem;
  text-align: center;
}

footer img {
  height: 50px;
  margin-bottom: 10px;
}

footer p {
  font-size: 14px;
}

.profile-container {
  padding: 20px;
  color: #fff;
  border-radius: 8px;
  margin: 50px auto;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-info {
  margin-bottom: 20px;
  background-color: #f9f9f9;
  color: var(--foreground);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 600px;
}

.logout-button {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-info h3 {
  margin: 10px 0;
}

.profile-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.profile-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-buttons button:hover {
  background-color: #555;
}

.profile-buttons .buy-button {
  background-color: green;
  color: #fff;
}

.profile-buttons .shop-button {
  background-color: blue;
  color: #fff;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.login-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--background);
  color: #fff;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: var(--foreground);
}

.login-form .register-link {
  display: inline-block;
  line-height: 42px;
  margin: 0;
  text-align: center;
  background-color: var(--background) !important;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 120px;
  font-size: 15px;
  font-weight: 300;
}

.login-form .register-link:hover {
  background-color: var(--foreground);
}
